h1 {
    color: white;
    background-color: orange;
    text-align: center;
  }
  div {
    color: white;
    background-color: skyblue;
  }

  .button{
    background-color: green;
    color: green;
  }